<section class="screenshots">
  <div class="screenshots-phone">
    <div class="screenshots-phoneTop">
      <div class="phone">
        <img src="/assets/images/screenshot.png" />
        <!-- <video class="background"><source src="/assets/videos/slideshow/sluggV2_1.mp4"></source></video> -->
      </div>
    </div>
    <div class="screenshots-phoneBottom">
      <div class="phone-bottom"></div>
    </div>
  </div>
  <div class="screenshots-desc">
    <div class="screenshots-message col">
      <img src="/assets/images/heart.png" />
      <p>Employees who carpool love that it saves them on the cost of fuel, time, and helps them make better acquaintances with the people that they work with.</p>
    </div>
    <div class="screenshots-links col">
      <button class="green_button" ng-click="signup.signup()">Sign up now</button>
      <!-- <a>FAQ</a>
      <a>Contact Us</a>
      <a>Terms</a>
      <a>FAQ</a> -->
    </div>
  </div>
</section>