<header><a ng-link="signup()" ng-show="neighborhood.company.name">{{neighborhood.company.name}}</a></header>
<map center='{lat:47.605755, lng:-122.335955}' options='{draggable:false, disableDefaultUI:true}' zoom="12" styles='neighborhood.styles'>
  <polygon options="neighborhood.activePolygon"></polygon>
  <polygon options="neighborhood.hoverPolygon"></polygon>
</map>
<slide-input class="middle"
             button="done"
             placeholder="Select your neighborhood"
             ng-model="neighborhood.name"
             click="neighborhood.signupNeighborhood(value, item)"
             change="neighborhood.change(model)"
             focus="neighborhood.focusNeighborhood"
             typeahead-data="neighborhood.typeaheadData"
             typeahead-format="neighborhood.typeaheadFormat(item, query)"
             suggested-format="neighborhood.suggestedFormat(item, query)"
             typeahead-hover-item="neighborhood.typeaheadHoverItem(item)"
             typeahead-active-item="neighborhood.typeaheadActiveItem(item)"
             empty="If we get enough support from your area we'll expand there, so definitely sign up"></slide-input>