<header class="splash-header">
  <div class="spacer"></div>
  <a>Sign up here</a>
</header>
<header class="splash-header">
  <img class="splash-logo" src="/assets/images/logo.png"/>
  <h1>Organize carpools with coworkers in your neighborhood</h1>

  <button class="green_button" ng-click="signup.signup()">Sign up now</button>
  <!-- <slide-input button="send" placeholder="email address" ng-model="signup.email" click="signup.signupEmail($event)" focus="signup.focusEmail"></slide-input> -->
</header>

<section>
  <h4>PROPOSED PILOT COMPANIES</h4>
  <p class="grouped-p">Do you work for one of these companies and hate your commute?</p>
  <p class="grouped-p">Sign up here to express your interest in employee carpool rewards.</p>
  <p class="grouped-p">We’re adding new companies all the time. Sign up to be notified when there’s a critical mass of carpoolers in your area.</p>

  <div class="companies">
    <a ui-sref="company({company:'Starbucks'})" class="starbucks_spr"></a>
    <a ui-sref="company({company:'Microsoft'})" class="microsoft_spr"></a>
    <a ui-sref="company({company:'Costco'})" class="costco_spr"></a>
    <a ui-sref="company({company:'Boeing'})" class="boeing_spr"></a>
    <a ui-sref="company({company:'Nordstrom'})" class="nordstrom_spr"></a>
    <a ui-sref="company({company:'starbucks'})" class="seattleChildrens_spr"></a>
    <a ui-sref="company({company:'Amazon'})" class="amazon_spr"></a>
    <a ui-sref="company({company:'Weyerhaeuser'})" class="weyerhaeuser_spr"></a>
  </div>

  <button class="green_button" ng-click="signup.signup()">Add your company</button>
</section>
<section class="benefits">
  <div class="benefit">
    <img class="benefit-img" src="/assets/images/coffee.png" />
    <h5>Meet your coworkers</h5>
    <p>Spend quality time with your teammates on the road or utilize your commute for meetings.</p>
  </div>

  <div class="benefit">
    <img class="benefit-img" src="/assets/images/time.png" />
    <h5>Save time</h5>
    <p>Don’t sit in traffic or spend time driving around parking.  When more people carpool, roads and highways are less clogged.</p>
  </div>

  <div class="benefit">
    <img class="benefit-img" src="/assets/images/trust.png" />
    <h5>Trust &amp; Safety</h5>
    <p>Travel with your coworkers to ensure that you’re in good company.</p>
  </div>
</section>