<header class="splash-header">
  <a>Download the mobile app</a>
  <span>Seattle based employer?</span>
  <a>Sign up here</a>
</header>
<header class="splash-header">
  <img class="splash-logo" src="/assets/images/logo.png"/>
  <h1>Organize carpools with coworkers in your neighborhood</h1>

  <slide-input button="send" placeholder="email address" ng-model="signup.email" click="signup.signupEmail($event)" focus="signup.focusEmail"></slide-input>
  <p>Sign up with your official company email</p>
</header>

<section>
  <p>THESE ARE THE LARGEST SEATTLE AREA EMPLOYERS</p>
  <p>Do you work for one of these companies and hate your commute?</p>
  <p>Sign up here to express your interest in employee carpool rewards.</p>
  <p>We’re adding new companies all the time. Sign up to be notified when there’s a critical mass of carpoolers in your area.</p>

  <div class="companies">
    <div class="starbucks_spr"></div>
    <div class="microsoft_spr"></div>
    <div class="costco_spr"></div>
    <div class="boeing_spr"></div>
    <div class="nordstrom_spr"></div>
    <div class="seattleChildrens_spr"></div>
    <div class="amazon_spr"></div>
    <div class="weyerhaeuser_spr"></div>
  </div>

  <button class="blue_button">Add your company as a supporter</button>
</section>
<section></section>