<header class="splash-header">
  <div class="spacer"></div>
  <div class="a" ng-click="signup.signup()">Sign up here</div>
</header>
<section class="splash-header col">
  <img class="splash-logo" src="/assets/images/logo.png"/>
  <h1 class="center-text">Organize carpools with coworkers in your neighborhood</h1>
  <button class="green_button" ng-click="signup.signup()">Sign up now</button>
</section>

<section class="col">
  <h6 class="caps">PROPOSED PILOT COMPANIES</h6>
  <p class="grouped-p">Do you work for one of these companies and hate your commute?</p>
  <p class="grouped-p">Sign up here to express your interest in employee carpool rewards.</p>
  <p class="grouped-p">We’re adding new companies all the time. Sign up to be notified when there’s a critical mass of carpoolers in your area.</p>

  <div class="companies">
    <a ui-sref="company({company:'Starbucks'})" class="starbucks_spr"></a>
    <a ui-sref="company({company:'Microsoft'})" class="microsoft_spr"></a>
    <a ui-sref="company({company:'Costco'})" class="costco_spr"></a>
    <a ui-sref="company({company:'Boeing'})" class="boeing_spr"></a>
    <a ui-sref="company({company:'Nordstrom'})" class="nordstrom_spr"></a>
    <a ui-sref="company({company:'starbucks'})" class="seattleChildrens_spr"></a>
    <a ui-sref="company({company:'Amazon'})" class="amazon_spr"></a>
    <a ui-sref="company({company:'Weyerhaeuser'})" class="weyerhaeuser_spr"></a>
  </div>

  <button class="green_button" ng-click="signup.signup()">Add your company</button>
</section>
<section class="benefits">
  <div class="benefit">
    <img class="benefit-img" src="/assets/images/coffee.png" />
    <h5 class="center-text">Meet your coworkers</h5>
    <p class="center-text">Spend quality time with your teammates on the road or utilize your commute for meetings.</p>
  </div>

  <div class="benefit">
    <img class="benefit-img" src="/assets/images/time.png" />
    <h5 class="center-text">Save time</h5>
    <p class="center-text">Don’t sit in traffic or spend time driving around parking.  When more people carpool, roads and highways are less clogged.</p>
  </div>

  <div class="benefit">
    <img class="benefit-img" src="/assets/images/trust.png" />
    <h5 class="center-text">Trust &amp; Safety</h5>
    <p class="center-text">Travel with your coworkers to ensure that you’re in good company.</p>
  </div>
</section>

<section class="screenshots">
  <div class="screenshots-phone">
    <div class="screenshots-phoneTop">
      <div class="phone"></div>
    </div>
    <div class="screenshots-phoneBottom">
      <div class="phone-bottom"></div>
    </div>
  </div>
  <div class="screenshots-desc">
    <div class="screenshots-message col">
      <img src="/assets/images/heart.png" />
      <p>Employees who carpool love that it saves them on the cost of fuel, time, and helps them make better acquaintances with the people that they work with.</p>
    </div>
    <div class="screenshots-links col">
      <button class="green_button" ng-click="signup.signup()">Sign up now</button>
      <!-- <a>FAQ</a>
      <a>Contact Us</a>
      <a>Terms</a>
      <a>FAQ</a> -->
    </div>
  </div>
</section>