<slide>
  <h1>Hack the Commute 101</h1>
</slide>

<slide>
  <h1>What drives people?</h1>
</slide>

<slide>
  <h1><strong>Literally</strong></h1>
</slide>

<slide>
  <div class="row">
    <div class="hex">
      <img src="assets/images/slideshow/transit_hex.png" />
      <h4>TRANSIT</h4>
      <h2>45%</h2>
    </div>

    <div class="hex drivealone">
      <img src="assets/images/slideshow/alone_hex.png" />
      <h4>DRIVE ALONE</h4>
      <h2>31%</h2>
    </div>

    <div class="hex rideshare">
      <img src="assets/images/slideshow/rideshare_hex.png" />
      <h4>RIDESHARE</h4>
      <h2>9%</h2>
    </div>
  </div>
</slide>

<slide>
  <background class="traffic"></background>
</slide>

<slide>
  <h2>What drives people... <strong>psychologically</strong>?</h2>
</slide>

<slide>
  <h1><strong>Why</strong> do you still drive to work?</h1>
</slide>

<slide>
  <h1>&ldquo;Speed&rdquo;</h1>
</slide>

<slide>
  <h1>&ldquo;Convenience and flexibility&rdquo;</h1>
</slide>

<slide>
  <h1>&ldquo;I already have a car&rdquo;</h1>
</slide>

<slide>
  <h2>The <strong>car</strong>, as a mode of transport might not be going away any time soon.</h2>
</slide>

<slide>
  <h2>We wanted to let people <strong>use their cars</strong> and still make better commuting choices.</h2>
</slide>

<slide>
  <h1>Getting people to carpool</h1>
</slide>

<slide>
  <h1><strong>Why</strong> don&rsquo;t more people carpool now?</h1>
</slide>

<slide class="shadowed">
  <background class="childrens"></background>
  <div>
    <h1>Best workplace for commuters</h1>
    <author>EPA, DoT</author>
  </div>
</slide>

<slide>
  <h1>Finding other trusted and reliable people to carpool with.</h1>
</slide>

<slide>
  <img class="background-image" src="assets/images/slideshow/rideshare.png" />
</slide>

<slide>
  <img class="background-image fade" src="assets/images/slideshow/rideshare.png" />
  <h1 class="giant">93.6%</h1>
  <img src="assets/images/slideshow/godaddy.png" />
</slide>

<slide>
  <background class="sluggLine"></background>
  <h2>Then we remembered how people who want to get across the bay bridge do it.</h2>
</slide>

<slide>
  <h1>&lsquo;Slugging&rsquo;</h1>
  <h3>&lsquo;Casual Carpooling&rsquo;</h3>
</slide>

<slide>
   <div>
    <h4>&ldquo;It’s an amazingly well-organized event that is extremely efficient, saving fuel and time. We estimated that 25,000 people casual carpool in D.C. each day.  That takes a lot of cars off the road&rdquo;</h4>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <author>Mark Burris</author>
    <author>Texas Transportation Institute (TTI) Associate Research Engineer</author>
  </div>
</slide>

<slide>
  <h1>Informal<b>.</b> On-demand<b>.</b> Trusted<b>.</b></h1>
</slide>

<slide class="slide-dark logoSlide">
  <div class="row">
    <img class="logo" src="assets/images/slideshow/logo.png" />
  </div>
</slide>

<slide class="slide-dark">
  <div class="row logoDescription">
    <img class="logo" src="assets/images/slideshow/logo.png" />
    <h2>The best way to find friendly colleagues to commute with</h2>
  </div>
</slide>

<!-- <slide class="slide-dark">
  <img class="background-image" src="assets/images/slideshow/step1.png" />
  <aside>enter corporate email</aside>
</slide>

<slide class="slide-dark">
  <img class="background-image" src="assets/images/slideshow/step2.png" />
  <aside>automatically figure out where you work &amp; where you live based on location</aside>
</slide>

<slide class="slide-dark">
  <img class="background-image" src="assets/images/slideshow/step3.png" />
  <aside>lobby of people around you</aside>
</slide>

<slide class="slide-dark">
  <img class="background-image" src="assets/images/slideshow/step5.png" />
  <aside>how many people, when you're leaving</aside>
</slide> -->

<!-- <slide-video src='"videos/unikitty_business.mp4"'>
  <aside>video of phone app</aside>
</slide-video> -->

<slide-video src='"/assets/videos/slideshow/slugg.mp4"'>
  <aside>video of phone app</aside>
</slide-video>

<slide>
  <h1>We've seen this movie before</h1>
</slide>

<slide>
  <h2>But we have an awesomer app and can beg apple to feature it, so <strong>#shipit</strong> right?</h2>
</slide>

<slide>
  <h1><strong>#wrong</strong></h1>
</slide>

<slide class="slide-dark">
  <img class="background-image fade" src="assets/images/slideshow/12thmanNumber.png" />
  <h1>Need critical mass</h1>
</slide>

<slide class="shadowed slide-dark">
  <img class="background-image" src="assets/images/slideshow/getslugg.png" />
</slide>

<slide class="slide-dark skyline">
  <h1>Thanks!</h1>
  <div class="row thanks">
    <div class="hex profile">
      <img src="assets/images/slideshow/andrew.png" />
      <h4>Andrew</h4>
    </div>

    <div class="hex profile">
      <img src="assets/images/slideshow/ash.png" />
      <h4>Ash</h4>
    </div>

    <div class="hex profile">
      <img src="assets/images/slideshow/michael.png" />
      <h4>Michael</h4>
    </div>
  </div>
</slide>