.starbucks_spr { background: url(../../../public/images/starbucks.png); width:201px; height: 201px; }
.costco_spr { background: url(../../../public/images/costco.png); width:201px; height: 201px; }
.microsoft_spr { background: url(../../../public/images/microsoft.png); width:201px; height: 201px; }
.weyerhaeuser_spr { background: url(../../../public/images/weyerhaeuser.png); width:201px; height: 201px; }
.boeing_spr { background: url(../../../public/images/boeing.png); width:201px; height: 201px; }
.amazon_spr { background: url(../../../public/images/amazon.png); width:201px; height: 201px; }
.seattlechildrenshospital_spr { background: url(../../../public/images/seattleChildrens.png); width:201px; height: 201px; }
.nordstrom_spr { background: url(../../../public/images/nordstrom.png); width:201px; height: 201px; }