.starbucks_spr { background: url(../../../public/images/starbucks.png); width:100px; height: 100px; }
.costco_spr { background: url(../../../public/images/costco.png); width:100px; height: 100px; }
.microsoft_spr { background: url(../../../public/images/microsoft.png); width:100px; height: 100px; }
.weyerhaeuser_spr { background: url(../../../public/images/weyerhaeuser.png); width:100px; height: 100px; }
.boeing_spr { background: url(../../../public/images/boeing.png); width:100px; height: 100px; }
.amazon_spr { background: url(../../../public/images/amazon.png); width:100px; height: 100px; }
.seattleChildrens_spr { background: url(../../../public/images/seattleChildrens.png); width:100px; height: 100px; }
.nordstrom_spr { background: url(../../../public/images/nordstrom.png); width:100px; height: 100px; }