@import 'fonts'

@import 'lib/_clearfix'
@import 'lib/_opacity'
@import 'lib/_vendor-prefixes'
@import 'lib/_variables'
@import 'lib/_modals'

// $blue: rgb(69,147,196)
$blue: #4995C2
// $lightBlue: rgb(105,176,219)
$lightBlue: #6CB1D9
$textGray: rgb(184,184,184)
$headerBlack: rgb(52,70,84)
$companyWidth: 201px
$companyPadding: 15px

*
  margin: 0
  padding: 0
  font-family: "Brandon"

html, body
  background: $blue
  height: 100%

.content
  background: #fff
  height: 100%

.view
  display: block
  background: #fff
  overflow: auto
  overflow-x: hidden
  height: 100%

a
  text-decoration: none
  color: $blue

  &:hover
    text-decoration: underline

.grouped-p
  margin-top: .2em
  margin-bottom: .2em

header
  background: $lightBlue
  color: #fff
  text-align: center
  font-size: 1em

  &:first-child
    background: $blue

  a
    color: #fff
    padding: 0 1em
    cursor: pointer
    font-weight: 600
    font-size: 2em
    padding: 0.65em 0.5em
    line-height: 1.4em
    display: block

section
  display: block
  padding: 4em 0

h1, h2
  max-width: 16em
  margin: 1em auto
  line-height: 1.2em
  text-align: center
  font-size: 4em
  font-weight: bold
  color: $headerBlack

h2
  font-size: 3em
  max-width: 20em

p
  max-width: 27em
  margin: 1em auto
  line-height: 1.6em
  text-align: center
  color: $textGray
  font-size: 1.3em

  strong
    color: darken($textGray, 29.5%)


.mail
  margin-top: 3em

.goalBar
  margin-top: 26px
  margin-bottom: 26px

.companies
  width: $companyWidth*4 + $companyPadding*2*4
  margin: 0 auto
  overflow: hidden

  &>a
    float: left
    margin: $companyPadding

slide-input
  width: 38%
  margin: 0 auto

.middle
  position: absolute
  left: 0
  right: 0
  top: 40%
  box-shadow: 0 2px 4px rgba(0,0,0,0.5)
  border-radius: 4px

map
  display: block
  position: absolute
  bottom: 0
  top: 5.4em
  left: 0
  right: 0

h4, h5, h6
  text-align: center
  color: mix($headerBlack, $textGray)
  margin: 1em auto
  font-weight: 600

h5
  font-size: 1.8em

.h1
  text-align: left
  font-size: 3rem

.h2
  text-align: left
  font-size: 2.6rem

.h3
  text-align: left
  font-size: 2.2rem

.h4
  text-align: left
  font-size: 1.8rem

.h5
  text-align: left
  font-size: 1.4rem

.h6
  text-align: left
  font-size: 1rem

@import 'letter'
@import 'splash'
@import 'buttons'
@import 'flex'
@import 'modal'