@import 'fonts'

$blue: rgb(69,147,196)
$lightBlue: rgb(105,176,219)
$textGray: rgb(184,184,184)
$headerBlack: rgb(52,70,84)
$companyWidth: 100px
$companyPadding: 20px

*
  margin: 0
  padding: 0
  font-family: "Brandon"

html, body
  background: $blue
  height: 100%

.content
  background: #fff
  height: 100%

ng-viewport
  display: block
  background: #fff
  overflow: auto
  height: 100%

a
  text-decoration: none
  color: $blue

  &:hover
    text-decoration: underline

.grouped-p
  margin-top: .2em
  margin-bottom: .2em

header
  background: $lightBlue
  color: #fff
  text-align: center
  font-size: 1em
  line-height: 1.4em
  padding: 0.75em 0

  &:first-child
    background: $blue

  a
    color: #fff
    padding: 0 1em
    cursor: pointer

section
  display: block


h1, h2
  max-width: 16em
  margin: 1em auto
  text-align: center
  font-size: 2.8em
  font-weight: bold
  color: $headerBlack

h2
  font-size: 3em
  max-width: 20em

p
  max-width: 27em
  margin: 1em auto
  line-height: 1.6em
  text-align: center
  color: $textGray

  strong
    color: darken($textGray, 29.5%)


.mail
  margin-top: 3em

.goalBar
  margin-top: 26px
  margin-bottom: 26px

.companies
  width: $companyWidth*4 + $companyPadding*2*4
  margin: 0 auto
  overflow: hidden

  &>div
    float: left
    margin: $companyPadding

slide-input
  width: 50%
  margin: 0 auto


.middle
  position: absolute
  left: 0
  right: 0
  top: 40%
  box-shadow: 0 2px 4px rgba(0,0,0,0.5)
  border-radius: 4px

map
  display: block
  position: absolute
  bottom: 0
  top: 2.9em
  left: 0
  right: 0

@import 'letter'
@import 'splash'
@import 'buttons'
@import 'flex'