$logoHalfHeight: 142px/2
$headerHeight: $logoHalfHeight*1.2
$darkBlue: rgb(64,133,190)
$blue: rgb(222,231,236)
$lightBlue: rgb(244,250,254)

.splash-logo
  height: $logoHalfHeight*2
  display: block
  margin: 0 auto
  position: relative
  margin-top: -$logoHalfHeight

.splash-header
  box-sizing: border-box
  background: $lightBlue

  &:first-child
    background: $blue
    height: $headerHeight

  a
    color: $darkBlue
    font-size: 1em

  span
    color: rgb(168,198,223)

.benefits
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: center

  .benefit
    width: 20%
    text-align: center
    margin: 0 2vw

  .benefit-img
    display: block
    margin: 0 auto 1em auto
