@(message: String)

@scripts = {
  <script type="text/javascript" src="@routes.Assets.at("javascripts/mail.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/goalBar.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/utilDirectives.js")"></script>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
}

@css = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mail.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/goalBar.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slideInput.css")">

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sprites/companies-sprite-pack.css")">
}

@main("Welcome to Play")(scripts)(css) {
  <ng-viewport></ng-viewport>
}
