@(title: String)(scripts: Html)(css: Html)(content: Html)

<!DOCTYPE html>

<html ng-app="app">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    @css
  </head>
  <body>
    <div class="content">
      @content
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-animate.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-sanitize.js" ></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-touch.js" ></script>
    @scripts
  </body>
</html>
